
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Suma Soft Pvt .Ltd</h1>

<div>
    <a asp-action="CreateCompany">Create New Company</a>
</div>

<div>
    <a asp-action="CreateEmployee">Add Employee</a>
</div>










<div>
    <a asp-action="LogOut">Log Out</a>
</div>